<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Copyright &copy;2017
        <%= fa_icon("ship", text: "Designed by") %>
        <%= link_to("安徽同乐建筑装饰有限公司", "/") %>

      </div>
      <div class="foot-link">
        <%= link_to(fa_icon("weibo", text: "官方微博"),"/") %>

      </div>
      <div class="foot-link">
        <%= link_to(fa_icon("wechat", text: "微信公号"),"/") %>
      </div>
      <div class="foot-link">
        <%= link_to(fa_icon("question", text: "常见问题"),"change") %>
      </div>
      <div class="foot-link">
        <%= link_to(fa_icon("comments", text: "联系我们"),"/") %>
      </div>
      <div class="foot-link">
        <%= link_to(fa_icon("info", text: "关于我们"),"products") %>
      </div>
      <br>
    </div>
  </div>
</footer>
